{#def label #}

<span
    {{ attrs.render(class="inline-flex items-center gap-1 font-medium rounded-full transition-all duration-200 bg-accent/10 text-accent border border-accent/20 px-3 py-1 text-xs") }}
>
    {{ label }}
</span>
