{#def year=2025 #}

<footer class="py-12 text-sm text-gray-500 flex justify-between items-center border-t border-gray-900 mt-12">
    <p>&copy; {{ year }} Fabio Souza</p>
    <div class="flex gap-4">
        <a href="https://linkedin.com/in/fabiohcsouza" target="_blank" class="hover:text-white transition-colors">LinkedIn</a>
        <a href="mailto:fabiohcsouza@outlook.com.br" class="hover:text-white transition-colors">Email</a>
    </div>
</footer>
