{#import "../layouts/base.jinja" as Base #}
{#def seo, current_path="" #}

<Base seo={{ seo }} current_path={{ current_path }}>
    <section class="section">
        <h1>404 - Page Not Found</h1>
        <p>The page you requested does not exist.</p>
        <p><a href="/">Return to Home</a></p>
    </section>
</Base>
