@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-white text-zinc-900 antialiased;
}

.dark body {
  @apply bg-[#111111] text-[#EDEDED];
}
