@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

html {
  @apply bg-white text-zinc-900;
}

html.dark {
  @apply bg-[#111111] text-[#EDEDED];
}

body {
  @apply min-h-screen antialiased;
}
